@page "/register-institution" 

<PageTitle>Landing | Registrar nueva instituci&oacute;n</PageTitle>

<FormProcess Border="border-left: 1px solid var(--light-color);">
  <section class="sectioned-container">
    <div class="@(InstitutionContext.Selection == 0 ? "" : "is-not-selected") sectioned-content">
      <AddressInfo />
    </div>
    <div class="@(InstitutionContext.Selection == 1 ? "" : "is-not-selected") sectioned-content">
      <ContactInfo />
    </div>
    <div class="@(InstitutionContext.Selection == 2 ? "" : "is-not-selected") sectioned-content">
      <PaymentDetails />
    </div>
    <div class="navigation-form">
      <div class="circles">
        <div class="line-behind"></div>
        <div class="extension">
          @for (byte i = 0; i < 3; i++) {
            byte index = i;

            <div class="circle">
              <button type="button" class="@(InstitutionContext.Selection == i ? "selected-option" : "")" @onclick="@(() => SetSelected((int) index))"></button>
            </div>
          }
        </div>
      </div>
      <div class="extension options">
        <p>Direcci&oacute;n</p>
        <p>Contacto</p>
        <p>Pago</p>
      </div>
    </div>
  </section>
  <section class="sectioned-container">
    <div class="invoice-container">
      <div class="invoice-info invoice-content-border">
        <div class="invoice-info-message">
          <h4>Plan centro educativo - plan de pago anual</h4>
          <p>Todos lo que incluye el plan centro educativo</p>
        </div>
        <ul>
          <li>
            <div class="sm-circle"></div>
            <p>Control completo de la instituci&oacute;n</p>
          </li>
          <li>
            <div class="sm-circle"></div>
            <p>Manejo de la informaci&oacute;n de los estudiantes</p>
          </li>
          <li>
            <div class="sm-circle"></div>
            <p>Control de pagos personalizables</p>
          </li>
        </ul>
        <div class="date-content">
          <div class="date-info">
            <div>
              <i class="fi fi-tr-calendar-clock"></i>
              <p>Empieza</p>
            </div>
            <p>21/08/2023</p>
          </div>
          <div class="date-info">
            <div>
              <i class="fi fi-tr-calendar-check"></i>
              <p>Renueva en</p>
              <i class="fi fi-tr-question-square renovation-info"></i>
            </div>
            <p>21/08/2024</p> 
          </div>
        </div>
      </div>
      <div class="invoice-content invoice-content-border">
        <div class="invoice-message">
          <h4>Factura de compra</h4>
          <p>Tu factura de compra</p>
        </div>
        
        <div class="total">
          <h4>Total</h4>
          <h3>$00.00</h3>
        </div>
      </div>
    </div>
  </section>
</FormProcess>

@code {
  [Inject] 
  public RegisterInstitutionContext InstitutionContext { get; set; }

  private void SetSelected(int selected) {
    InstitutionContext.SetSelection((RegisterInstitutionSelection) selected);
  }
}
