@inject NavigationManager NavigationManager

<LandingComponents MinHeight="min-height: 350px;">
  <section>
    <div class="plan-card">
      <div class="plan-name-card">
        <h3>Plan b&aacute;sico</h3>
      </div>
      <p>Con este plan tienes acceso a todos los beneficios pero por un tiempo muy limitado</p>
      <div class="price">
        <h4><b>USD</b> $50.00</h4>
        <p>Renovaci&oacute;n cada 3 meses</p>
      </div>
      <button type="button" class="button transparent-button" @onclick="@CheckRegisterUser">Conseguir</button>
      <div class="plan-benefits">
        <ul>
          @foreach (var benefit in Benefits)
          {
            <li>
              <div class="plan-benefit-option"></div>
              <p>@benefit</p>
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="plan-card plan-container">
      <div class="recomendation">
        <p>Recomendado</p>
      </div>
      <div class="plan-name-card especial-card">
        <h3>
          Plan premium
        </h3>
      </div>
      <p>Un solo plan para obtener todos los beneficios durante un año</p>
      <div class="price">
        <h4><b>USD</b> $200.00</h4>
        <p>Renovaci&oacute;n anual</p>
      </div>
      <button class="button get-plan metallic-button" type="button" @onclick="@CheckRegisterUser">Conseguir</button>
      <div class="plan-benefits">
        <ul>
          @foreach (var benefit in Benefits)
          {
            <li>
              <div class="plan-benefit-option"></div>
              <p>@benefit</p>
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="plan-card">
      <div class="plan-name-card">
        <h3>Plan intermedio</h3>
      </div>
      <p>Con este plan tienes acceso a todos los beneficios pero por un tiempo muy limitado</p>
      <div class="price">
        <h4><b>USD</b> $100.00</h4>
        <p>Renovaci&oacute;n cada 6 meses</p>
      </div>
      <button type="button" class="button transparent-button" @onclick="@CheckRegisterUser">Conseguir</button>
      <div class="plan-benefits">
        <ul>
          @foreach (var benefit in Benefits) {
            <li>
              <div class="plan-benefit-option"></div>
              <p>@benefit</p>
            </li>
          }
        </ul>
      </div>
    </div>
  </section>
</LandingComponents>

@code {
  [Inject]
  public UserContext UserContext { get; set; } 
  [Inject]
  public RegisterInstitutionContext InstitutionContext { get; set;}
  private List<string> Benefits { get; set; } = new() {
    "Guarda todos los estudiantes de tu institución",
    "Manten registro de los estudiantes activos e inactivos",
    "Roles de usuario personalizables",
    "Configuración de categorias de información para estudiantes",
    "Registro de cursos de la institución",
    "Registro de actividad y control de acciones",
    "Agenda de eventos personalizada",
    "Registro de calificaciones",
    "Generación de estadísticos de información",
    "Comunicación en tiempo real con tu equipo de trabajo"
  };

  private void CheckRegisterUser() {
    if (UserContext.User == null) {
      InstitutionContext.SetShowRegisterModal(true);
    } else {
      NavigationManager.NavigateTo("/register-institution");
      InstitutionContext.CreateInstitution();
    }
  }
}
