<div class="invoice-container">
  <div class="invoice-info invoice-content-border">
    <div class="invoice-info-message">
      <h4>Plan centro educativo - plan de pago anual</h4>
      <p>Todos lo que incluye el plan centro educativo</p>
    </div>
    <ul>
      <li>
        <div class="sm-circle"></div>
        <p>Control completo de la instituci&oacute;n</p>
      </li>
      <li>
        <div class="sm-circle"></div>
        <p>Manejo de la informaci&oacute;n de los estudiantes</p>
      </li>
      <li>
        <div class="sm-circle"></div>
        <p>Control de pagos personalizables</p>
      </li>
    </ul>
    <div class="date-content">
      <div class="date-info">
        <div>
          <i class="fi fi-tr-calendar-clock"></i>
          <p>Empieza</p>
        </div>
        <p>21/08/2023</p>
      </div>
      <div class="date-info">
        <div>
          <i class="fi fi-tr-calendar-check"></i>
          <p>Renueva en</p>
          <div class="renovation">
            <div class="renovation-information @(!ShowRenovationInfo ? "remove-renovation-info" : "")">
              <p>
                Puedes renovar y cancelar tu plan en cualquier momento
              </p>
            </div>
            <i class="fi fi-tr-question-square renovation-info" @onmouseenter="@(() => ShowRenovationInfo = true)" @onmouseleave="@(() => ShowRenovationInfo = false)"></i>
          </div>
        </div>
        <p>21/08/2024</p> 
      </div>
    </div>
  </div>
  <div class="invoice-content invoice-content-border">
    <div class="invoice-message">
      <h4>Factura de compra</h4>
      <p>Tu factura de compra</p>
    </div>
    <div class="payment-details">
      <div class="detail">
        <h6>Direcci&oacute;n de facturaci&oacute;n</h6>
        <p>@($"{(!InstitutionContext.Institution.Address.Equals(string.Empty) ? $"{InstitutionContext.Institution.Address}" : "No agregado")}")</p>
      </div>
      <div class="detail">
        <h6>Correo electr&oacute;nico de contacto</h6>
        <p>@($"{(!InstitutionContext.Institution.Email.Equals(string.Empty) ? $"{InstitutionContext.Institution.Email}" : "No agregado")}")</p>
      </div>
    </div>
    <div class="total">
      <h4>Total</h4>
      <div class="amount">
        <h3>USD $100.00</h3>
        <p>Facturaci&oacute;n anual</p>
      </div>
    </div>
  </div>
</div>

@code {
  [Inject] 
  public RegisterInstitutionContext InstitutionContext { get; set; }
  private bool ShowRenovationInfo { get; set; } = false;

  protected override void OnInitialized() {
    InstitutionContext.OnChange += HandleStateChange;
  }

  private void HandleStateChange() {
    StateHasChanged();
  }
}