<AccessComponent Title="¡Bienvenido de vuelta!" Description="Ingresa tu informacion para ingresar" MaxWidth="max-width: 400px;">
  <div class="label">
    <div>
      <i class="fi fi-tr-at"></i>
      <label for="email">Correo electr&oacute;nico</label>
    </div>
    <p class="danger-text">@LoginInfo[0][0]</p>
  </div>
  <input @bind="@User.Register.Email" class="input @(!(bool) LoginInfo[0][1] ? "input-error" : "")" type="email" placeholder="Ingresar correo electrónico" id="email">
  <div class="label">
    <div>
      <i class="fi fi-tr-vault"></i>
      <label for="password">Contrase&ntilde;a</label>
    </div>
    <p class="danger-text">@LoginInfo[1][0]</p>
  </div>
  <div class="input-container">
    <input @bind="@User.Register.Password" type="@(!ShowPassword ? "password" : "text")" class="input  @(!(bool) LoginInfo[1][1] ? "input-error" : "")" placeholder="Ingresa contraseña" id="password" @onkeydown="HandleKeyPress">
    <span class="input-icon">
      <i class="fi fi-tr-low-vision eye" @onclick="@(() => ShowPassword = !ShowPassword)"></i>
    </span>
  </div>
  <ul>
    <li>
      <input type="checkbox" class="checkbox" @onclick="@(() => RememberMe = !RememberMe)">
      <p class="sm-text">Recuerdame</p>
    </li>
    <li>
      <p class="password">¿Olvidaste tu contrase&ntilde;a?</p>
    </li>
  </ul>
  <div class="login-button">
    <button type="button" class="lgn-button button primary-background-button" @onclick="@AuthUser">
      Iniciar sesi&oacute;n
    </button>
    <p>
      ¿No tienes una cuenta? <b @onclick="@(() => NavigationManager.NavigateTo("/access/register"))">Reg&iacute;strate</b>
    </p>
  </div>
</AccessComponent>
