@inherits LayoutComponentBase

<style>
  :root {
    --primary-color: @_themeContext.SelectedTheme.PrimaryColor;
    --background-color: @_themeContext.SelectedTheme.BackgroundColor;
    --light-background-color: @_themeContext.SelectedTheme.LightBackgroundColor;
    --light-color: @_themeContext.SelectedTheme.LightColor;
    --text-color: @_themeContext.SelectedTheme.TextColor;
    --light-text-color: @_themeContext.SelectedTheme.LightTextColor;
    --dark-color: @_themeContext.SelectedTheme.DarkColor;
    --light-primary-color: @_themeContext.SelectedTheme.LightPrimaryColor;
    --special-light-color: @_themeContext.SelectedTheme.SpecialLightColor;
    --first-loading-color: @_themeContext.SelectedTheme.FirstLoadingColor;
    --second-loading-color: @_themeContext.SelectedTheme.SecondLoadingColor;
    --third-loading-color: @_themeContext.SelectedTheme.ThirdLoadingColor;
    --smaller-text: 0.6rem;
    --small-text: 0.85rem;
    --regular-text: 0.95rem;
    --mid-title: 1.1rem;
    --title: 1.3rem;
  }

  h4 {
    font-size: var(--title);
    font-weight: 500;
    margin-bottom: 12px;
  }

  h6 {
    font-size: var(--mid-title);
    font-weight: 500;
    margin-bottom: 10px;
  }
</style>

<div class="page">
  <div class="application-container">
    <div class="left-container" style="@(Toggle ? "width: 280px;" : "width: 100px;")">
      <i class="fi fi-tr-bars-sort icon" @onclick="(() => Toggle = !Toggle)"></i>
      <div class="top">
        <h2>Buen<b>Academia</b></h2>
        <h5>@Institution.Name</h5>
      </div>
      <div class="bar">
        <CascadingValue Value="@Toggle" Name="Toggle">
          <Bar SideBarOption="main-menu" IsToggle=@true Menu=@SideBarMenu Styles="max-width: 100%" />
        </CascadingValue>
      </div>
    </div>
    <div class="right-container">
      <TopBar />
      <main>
        <CascadingValue Value="@InstitutionId" Name="Institution">
          @Body
        </CascadingValue>
      </main>
    </div>
  </div>
</div>
