@inherits LayoutComponentBase

<style>
  :root {
    --primary-color: @_themeContext.SelectedTheme.LightColor;
    --background-color: @_themeContext.SelectedTheme.BackgroundColor;
    --light-background-color: @_themeContext.SelectedTheme.LightBackgroundColor;
    --light-color: @_themeContext.SelectedTheme.LightColor;
    --text-color: @_themeContext.SelectedTheme.TextColor;
    --light-text-color: @_themeContext.SelectedTheme.LightTextColor;
    --dark-color: @_themeContext.SelectedTheme.DarkColor;
    --light-primary-color: @_themeContext.SelectedTheme.LightPrimaryColor;
    --sm-text: 0.6rem;
    --regular-text: 0.95rem;
    --title: 1.1rem;
  }
</style>

<div class="page">
  <div class="application-container">
    <div class="left-container" style="@(Toggle ? "width: 280px;" : "width: 100px;")">
      <i class="fi fi-tr-bars-sort icon" @onclick="(() => Toggle = !Toggle)"></i>
      <CascadingValue Value="@Toggle" Name="Toggle">
        <Bar IsToggle=@true Menu=@SideBarMenu Styles="max-width: 100%" />
      </CascadingValue>
    </div>
    <div class="right-container">
      <TopBar />
      <main>
        <CascadingValue Value="@InstitutionId" Name="Institution">
          @Body
        </CascadingValue>
      </main>
    </div>
  </div>
</div>
