@inherits LayoutComponentBase

<style>
  :root {
    --primary-color: @_themeContext.PrimaryColor;
    --background-color: @_themeContext.SelectedTheme.BackgroundColor;
    --light-background-color: @_themeContext.SelectedTheme.LightBackgroundColor;
    --light-color: @_themeContext.SelectedTheme.LightColor;
    --text-color: @_themeContext.SelectedTheme.TextColor;
    --light-text-color: @_themeContext.SelectedTheme.LightTextColor;
    --dark-color: @_themeContext.SelectedTheme.DarkColor;
    --light-primary-color: @_themeContext.SelectedTheme.LightPrimaryColor;
    --special-light-color: @_themeContext.SelectedTheme.SpecialLightColor;
    --first-loading-color: @_themeContext.SelectedTheme.FirstLoadingColor;
    --second-loading-color: @_themeContext.SelectedTheme.SecondLoadingColor;
    --third-loading-color: @_themeContext.SelectedTheme.ThirdLoadingColor;
    --side-bar-color: @_themeContext.SelectedTheme.SideBarColor;
    --second-side-bar-color: @_themeContext.SelectedTheme.SecondSideBarColor;
    --smaller-text: 0.6rem;
    --small-text: 0.85rem;
    --regular-text: 0.95rem;
    --mid-title: 1.1rem;
    --title: 1.3rem;
  }

  h4 {
    font-size: var(--title);
    font-weight: 500;
    margin-bottom: 6px;
  }

  h6 {
    font-size: var(--mid-title);
    font-weight: 500;
    margin-bottom: 4px;
  }

  h2 {
    color: @_themeContext.SelectedTheme.LogoColor;
  }
</style>

<div class="page">
  <div class="application-container" @onclick="@RemoveAbsoluteContent">
    <div class="left-container" style="@(Toggle ? "width: 280px;" : "width: 100px;")">
      <i class="fi fi-tr-bars-sort icon" @onclick="(() => Toggle = !Toggle)"></i>
      <div class="top">
        @if (Institution.Photo != null) {
          <div class="institution-image">
            <img src="@ImageSrc" alt="@Institution.Name">
          </div>
        }
        <div class="logo-name" style="@(Institution.Photo == null ? "text-align: center; width: 100%;" : "")">
          <h2 style="@(Institution.Photo == null ? "font-size: 1.2rem" : "")"><b>Firmacadem</b></h2>
          <p>@Institution.Name</p>
        </div>
      </div>
      <div class="bar">
        <CascadingValue Value="@Toggle" Name="Toggle">
          <Bar SideBarOption="main-menu" IsToggle=@true Menu=@SideBarMenu Styles="max-width: 100%;" />
        </CascadingValue>
      </div>
    </div>
    <div class="right-container">
      @if (StatusModalContext.ShowModal) {
        string operationTitle = string.Empty;
        string operationMessage = string.Empty;
        string operationType = string.Empty;
        string operationIcon = string.Empty;

        switch (StatusModalContext.Status) {
          case StatusType.Success:
            operationTitle = "Operación realizada con exito";
            operationMessage = "Todo ha salido correctamente, tu operación se realizo exitosamente";
            operationType = "success";
            operationIcon = "fi fi-tr-check-circle";
            break;
          case StatusType.Danger: 
            operationTitle = "Algo salio mal durante la operación";
            operationMessage = "Algo salio mal en el proceso, la operación no se realizo correctamente";
            operationType = "danger";
            operationIcon = "fi fi-tr-circle-xmark";
            break;
          case StatusType.Warning:
            operationTitle = "Operación en espera por una advertencia";
            operationMessage = "Revisa el proceso que estabas haciendo para continuar";
            operationType = "warning";
            operationIcon = "fi fi-tr-triangle-warning";
            break;
        }

        <div class="application-modal-status @operationType">
          <div>
            <div class="status-circle centered-container">
              <i class="@operationIcon"></i>
            </div>
          </div>
          <div>
            <h4>
              @operationTitle
            </h4>
            <p>@operationMessage</p>
          </div>
        </div>
      }
      <TopBar />
      <main>
        <CascadingValue Value="@InstitutionId" Name="Institution">
          @Body
        </CascadingValue>
      </main>
    </div>
  </div>
</div>
