@inject IJSRuntime JSRuntime

<SectionModule>
  <div class="activity-container">
    <div class="box-background activities-info">
      <div>
        <h4>Registro de actividades</h4>
        <p>Los cambios que se hagan dentro de la instituci&oacute;n se veran reflejados en esta secci&oacute;n</p>
      </div>
      <div>
        <button type="button"
          class="button primary-background-button @(Activities.Any(a => a.ActivityLogViews.Any(ar => ar.UserId.Equals(_userContext.User.Id))) ? "not-enabled-button" : "")"
          @onclick="@SetActivityRead"
          >Marcar
          actividad como leida</button> 
      </div>
    </div>
    <div class="activities" @ref="ActivityContainer">
        @foreach (var activity in Activities) {
          string action = string.Empty;
          string actionClass = string.Empty;

          switch (activity.ActionType) {
            case ActionType.Create:
              action = "Creación";
              actionClass = "creation";
              break;
            case ActionType.Update:
              action = "Actualización";
              actionClass = "update";
              break;
            case ActionType.Delete:
              action = "Eliminación";
              actionClass = "delete";
              break;
          }

          <div class="box-background activity-card">
            <div class="action activity-card-item @actionClass">
              <p>@action</p>
            </div>
            <div class="activity-card-item">
              <h5>Usuario</h5>
              <p>@activity.Author</p>
              <p class="activity-username">@activity.UserName</p>
            </div>
            <div class="activity-card-item">
              <h6>@activity.Title</h6>
              <p>@activity.Message</p>
            </div>
            <div class="activity-card-item">
              <h5>Hora de actividad</h5>
              <p>@activity.Date</p>
            </div>
          </div>
        }
    </div>
  </div>
</SectionModule>

@code {
  private List<ActivityLog> Activities { get; set; } = new();
  [Inject]
  private ActivityHubManager _activityHubManager { get; set; }
  [Inject]
  private UserContext _userContext { get; set; }
  [Inject]
  private IActivityLogViewService _activityLogViewService { get; set; }
  [Inject]
  private StatusModalContext StatusModalContext { get; set; }
  private ElementReference ActivityContainer;
  
  protected override async Task OnInitializedAsync() {
    _activityHubManager.ActivityUpdatedHandler(activities => {
      Activities = activities;
      StateHasChanged();
    });
    
    await _activityHubManager.SendActivityUpdatedAsync(_userContext.User.InstitutionId.ToString());
  }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    await JSRuntime.InvokeVoidAsync("scrollToBottom", ActivityContainer);
  }

  private async Task SetActivityRead() {
    foreach (var activity in Activities) {
      if (activity.ActivityLogViews != null) {
        if (!activity.ActivityLogViews.Any(a => a.UserId.Equals(_userContext.User.Id))) {
          await _activityLogViewService.Create(new() {
            ActivityId = activity.Id,
            UserId = _userContext.User.Id
          });
        }
      }
    }

    await StatusModalContext.SetStatus(StatusType.Success);
  }
}
