<div class="modal-title">
    <h4>Agregar una nueva asignatura</h4>
    <p>Agregar una nueva asignatura para la instituci&oacute;n <span>(puedes agregar una asignatura en la secci&oacute;n de cursos)</span></p>
</div> 
<form>
    <div class="label label-name">
        <label for="subject-name">Nombre de la asignatura <strong>*</strong></label>
    </div>
    <input value="@Subject.Name" type="text" class="input @(IsInputWarning ? "input-error" : "")" placeholder="Ingresar nombre de la asignatura" id="subject-name" @oninput="@(e => UpdateField(e, "name"))">
    <div class="label">
        <label for="subject-description">
            Descripci&oacute;n de la asignatura
        </label>
    </div>
    <input type="text" class="input" placeholder="Ingresar descripción de la asignatura" id="subject-description" @oninput="@(e => UpdateField(e, "description"))">
    <div class="label">
        <label for="subject-color">Seleccionar color para la asignatura <strong>*</strong></label>
    </div>
    <input type="color">
</form>
<div class="create-subject-button">
    <button type="button" class="button primary-background-button" @onclick="@ActionSubject">Crear asignatura</button>
</div>

@code {
    [Inject]
    private SubjectHubManager SubjectHubManager { get; set; }
    [Inject]
    private UserContext UserContext { get; set; }
    [Inject]
    private Validators Validators { get; set; }
    [Inject]
    private StatusModalContext StatusModalContext { get; set; }
    [Inject]
    private SettingsContext SettingsContext { get; set; }
    [Inject]
    private ISubjectService SubjectService { get; set; }
    private bool IsInputWarning { get; set; }
    private string InputErrorWarning { get; set; } = string.Empty;
    private Subject Subject { get; set; }

    protected override void OnInitialized() {
        AssignNewSubject();
    }

    private void ValidateField() {
        string warning = Validators.IsRequired(Subject.Name);
        InputErrorWarning = warning;

        if (!string.IsNullOrEmpty(warning)) {
            IsInputWarning = true;
        }
    }

    private void AssignNewSubject() {
        Subject = new() {
            Id = Guid.NewGuid(),
            Name = string.Empty
        };
    }

    private void UpdateField(ChangeEventArgs e, string fieldName) {
        string value = e.Value.ToString();

        switch (fieldName) {
            case "name":
                Subject.Name = value;
                break;
            case "description":
                break;
        }
    }

    private async Task ActionSubject() {
        IsInputWarning = false;
        ValidateField();
        
        if (IsInputWarning) {
            StatusModalContext.SetStatus(StatusType.Danger);
            
            return;
        }

        await SubjectService.Create(Subject);

        await SubjectHubManager.SendSubjectsUpdatedAsync(UserContext.User.InstitutionId.ToString() ?? string.Empty);

        StatusModalContext.SetStatus(StatusType.Success);
        SettingsContext.SetShowSettingsModal(false);
    }
}