<SettingsModule>
  <div class="course-settings-container">
    <div class="box-background">
      <h4>Asignaturas</h4>
      <p>Edita la informaci&oacute;n de las asignaturas</p>
    </div>

      <label for="course-name"></label>
      <input @bind="@_courseContext.Course.Name" type="text" class="input" placeholder="Ingresar nombre del curso"
        id="course-name">

      <label for="acronym"></label>
      <input @bind="@_courseContext.Course.Acronym" type="text" class="input" placeholder="Ingresar acronimo del curso"
        id="acronym">

      <label for="guide">Seleccionar gu&iacute;a para el curso</label>
      <select id="guide"></select>
<div>
      @foreach (var course in Courses) {
        int index = Courses.IndexOf(course);

        <h4>@course.Acronym</h4>
        <h4>@course.Name</h4>

        <form>
          <fieldset>
            
          </fieldset>
          <fieldset>
            <div class="label">
              <label for="day-of-week">Dia</label>
            </div>
            <select id="day-of-week" @bind="CourseSchedule.DayOfWeek">
              <option value="@DayOfWeek.Sunday">Domingo</option>
              <option value="@DayOfWeek.Monday">Lunes</option>
              <option value="@DayOfWeek.Tuesday">Martes</option>
              <option value="@DayOfWeek.Wednesday">Miércoles</option>
              <option value="@DayOfWeek.Thursday">Jueves</option>
              <option value="@DayOfWeek.Friday">Viernes</option>
              <option value="@DayOfWeek.Saturday">Sábado</option>
            </select>
          </fieldset>
          <fieldset> 
            <div class="label">
              <label for="start-time">Empieza</label>
            </div>
            <input @bind="@CourseSchedule.StartTime" id="start-time" type="time" class="input">
          </fieldset>
          <fieldset>
            <div class="label">
              <label for="end-time">Empieza</label>
            </div>
            <input @bind="@CourseSchedule.EndTime" id="end-time" type="time" class="input">
          </fieldset>
        </form>
      }
    </div>
  </div>
</SettingsModule>
