<div class="create-role-info">
  <h4>Crear nuevo rol</h4>
  <p>Crear un nuevo rol, ingresa la informaci&oacute;n para el nuevo rol</p>
</div>
<form>
  <fieldset>
    <div class="label">
      <label for="name">Nombre del rol <strong>*</strong></label>
      <p class="warning-error">
        @Warnings[0][0]
      </p>
    </div>
    <div class="@((bool) Warnings[0][1] ? "input-container-error" : "")">
      <input value="@Role.Name" type="text" class="input @((bool) Warnings[0][1] ? "input-error" : "")"
        placeholder="Ingresar nombre del rol" id="name" @oninput="@(e => Update(e, "name"))">
    </div>
  </fieldset>
  <fieldset> 
    <div class="label">
      <label for="description">Descripci&oacute;n del rol</label>
    </div>
    <input value="@Role.Description" type="text" class="input" placeholder="Ingresar descripción del rol" id="description" @oninput="@(e => Update(e, "description"))">
    <p class="recomendation-text">Sobre que se trata el nuevo rol</p>
  </fieldset>
  <fieldset>
    <div class="label">
      <label for="color-input">
        Seleccionar color del rol <strong>*</strong>
      </label>
    </div>
    <input type="color" class="color-input" @bind="@Role.RoleColor">
    <p class="recomendation-text">Distingue el nuevo rol con un color especial</p>
  </fieldset>
  <div class="create-rol-button">
    <button type="button" @onclick="@CreateNewRol" class="button primary-background-button">Crear rol</button>
  </div>
</form>