<h4>Crear rol</h4>
<p>Crear un nuevo rol</p>

<label for="name">Nombre del rol</label>
<input value="@Role.Name" type="text" class="input" placeholder="Ingresar nombre del rol" id="name" @oninput="@(e => Update(e, "name"))">
<label for="description">Descripci&oacute;n del rol</label>
<input value="@Role.Description" type="text" class="input" placeholder="Ingresar descripción del rol" id="description" @oninput="@(e => Update(e, "description"))">

<p>Seleccionar color del rol</p>

<button type="button" @onclick="@CreateNewRol" class="button">Crear rol</button>
