<section>
  <article>
    <div class="greeting">
      <h4>
        Hola, @UserContext.User.Name
      </h4>
      <p>Este es tu panel principal</p>
    </div>
  </article>
  <article class="dashboard-side-bar">
    @if (IsSelected) {
      <div class="user-target-information" style="top: @SelectedUserTop">
        <div class="user-preferred-color"></div>
        <div>
          <p>@SelectedUser.Name @SelectedUser.LastName</p>
          <p>@SelectedUser.Register.Email</p>
        </div>
        <div>
          <h5>miembro desde</h5>
          <p>15/9/2023</p>
        </div>
        <div>
          <h5>roles asignados</h5>  
        </div>
      </div>
    }
    <div class="online-users">
      @foreach (User user in Users) {
        int index = Users.IndexOf(user);
        <div>
          <h5>Nombre del rol - 3</h5>
          <div class="user-card" @onclick="@(() => SetSelectedUser(index))">
            <div class="user-information">
              <div class="user-image">
                @if (user.OnlineStatus.Status) { <div class="green-state"></div> }
              </div>
              <div class="user-info">
                <p>@user.Name @user.LastName</p>
                <p>@user.Register.Email</p>
              </div>
            </div>
          </div>
        </div>
      }
      <button type="button" class="button" @onclick="@Disconnect">Desconectar</button>
    </div>
  </article>
</section>
