<section>
  <article>

  </article>
  <article class="dashboard-side-bar">
    <div class="online-users">
      @foreach (User user in onlineUsers) {
        if (user.OnlineStatus.Status) {
          <div>
            <h5>Nombre del rol - 3</h5>
            <div class="user-card" @onclick="@(() => IsSelected = !IsSelected)">
              <div class="user-target-information" style="@(IsSelected ? "display: flex;" : "display: none;")">
                <div class="user-preferred-color"></div>
                <div>

                </div>
              </div>
              <div class="user-information">
                <div class="user-image">
                  <div class="green-state"></div>
                </div>
                <div class="user-info">
                  <p>@user.Name @user.LastName</p>
                  <p>@user.Register.Email</p>
                </div>
              </div>
            </div>
          </div>
        }
      }
      @for (int i = 0; i < 6; i++) {
        <div>
          <h5>Nombre del rol - 3</h5>
            @for (int j = 0; j < 3; j++) {
              <div class="user-card" @onclick="@(() => IsSelected = !IsSelected)">
                  <div class="user-target-information" style="@(IsSelected ? "display: flex;" : "display: none;")">
                    <div class="user-preferred-color"></div>
                    <div>

                    </div>
                  </div>
                <div class="user-information">
                  <div class="user-image">
                    <div class="green-state"></div>
                  </div>
                  <div class="user-info">
                    <p>Nombre completo de usuario</p>
                    <p>correoelectronico@email.com</p>
                  </div>
                </div>
              </div>
            }
        </div>
      }
    </div>
  </article>
</section>

@code {
  private uint SelectedContainer = 0;
  private bool IsSelected = false;
  [Inject]
  private UserContext UserContext { get; set; }
  [Inject]
  private NavigationManager NavigationManager { get; set; }
  [Inject]
  private IUserService UserService { get; set; }
  private List<User> onlineUsers = new();
  private HubConnection _hubConnection;

  protected override async Task OnInitializedAsync() {
    _hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/onlineUsersHub")).Build();

    _hubConnection.On<User>("UserConnected", async (user) => { await UpdateOnlineUsers(); });
    _hubConnection.On<User>("UserDisconnected", async (user) => { await UpdateOnlineUsers(); });

    await _hubConnection.StartAsync();
  }

  private async Task UpdateOnlineUsers() {
    onlineUsers = await _hubConnection.InvokeAsync<List<User>>("GetInstitutionUsers",
    UserContext.User.InstitutionId);
    StateHasChanged();
  }
}
