@using edu_institutional_management.Client.Pages.Chat
@using System.Timers;
@inject IJSRuntime JSRuntime

<section>
  <article class="communication">
    <div class="communication-side-bar">
      <h5>Canales de comunicaci&oacute;n</h5>
      <ul>
        <li>
          <i class="fi fi-tr-messages"></i>
          <p>
            Chat general
          </p>
        </li>
      </ul>
    </div>
    <div class="communication-chat">
      <div class="chat-info">
        <h4>Chat general</h4>
        <p>Este es el chat general de la instituci&oacute;n, todos los miembros pueden enviar mensajes aqu&iacute;</p>
        <b class="typing">@Typing</b>
      </div>
      <div class="messages" @ref="messagesContainer">
        @foreach (var message in ChatMessages.OrderBy(c => c.TimeStamp)) {
          User user = Users.Find(u => u.Id == message.UserId);
          int index = ChatMessages.IndexOf(message);

          if (user != null) {
            if ((index - 1) >= 0) {
              if (message.TimeStamp.Day.Equals(ChatMessages[index - 1].TimeStamp.Day)) {
                <div>
                  <div></div>
                  <p></p>
                  <div></div>
                </div>
              }
            }
            <div class="message-card">
              <div>
                <div class="user-image-message user-no-photo-container"></div>
              </div>
              <div class="message-container">
                <div class="user-message-info">
                  <p class="user-name-message">@user.Name @user.LastName</p>
                  <p>@user.Register?.Email</p>
                </div>
                <div>
                  <div class="message">
                    <p>@message.Message</p>
                  </div>
                  <div class="message-date">
                    <p>@message.TimeStamp</p>
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>
      <div class="chat-sender">
        <input value="@ChatMessage.Message" type="text" class="input" placeholder="Escribe un mensaje" @oninput="@UpdateMessage" @onkeydown="HandleKeyPress">
        <button type="button" class="button primary-background-button send-button" @onclick="@CreateMessage">Enviar <i class="fi fi-tr-paper-plane-top"></i> </button>
      </div>
    </div>
  </article>
  <OnlineUsers />
</section>

@code {
  private List<ChatMessage> ChatMessages { get; set; } = new();
  private List<User> Users { get; set; } = new();
  private ChatMessage ChatMessage { get; set; } = new();
  [Inject]
  private UserContext _userContext { get; set; }
  [Inject]
  private IChatService _chatService { get; set; }
  [Inject]
  private ChatHubManager _chatHubManager { get; set; }
  [Inject]
  private UsersHubManager _usersHubManager { get; set; }
  private string Typing { get; set; } = string.Empty;
  private Timer TypingTimer;
  private bool IsTyping = false;
  private ElementReference messagesContainer;

  protected override async Task OnInitializedAsync() {
    _chatHubManager.ChatUpdatedHandler(chatMessages => {
      ChatMessages = chatMessages;
      StateHasChanged();
    });

    _chatHubManager.TypingUpdatedHandler(typing => {
      Typing = typing;
      StateHasChanged();
    });
    
    _usersHubManager.UsersUpdatedHandler(users => {
      Users = users;
      StateHasChanged();
    });

    await _usersHubManager.SendUsersUpdatedAsync(_userContext.User.InstitutionId.ToString());

    await SendUpdate();
  }
  
  protected override async Task OnAfterRenderAsync(bool firstRender) {
    await JSRuntime.InvokeVoidAsync("scrollToBottom", messagesContainer);
  }

  private async Task HandleKeyPress(KeyboardEventArgs e) {
    if (e.Key == "Enter") await CreateMessage();
  }

  protected override void OnInitialized() {
    AssignNewChatMessage();
  }

  private void AssignNewChatMessage() {
    ChatMessage = new() {
      UserId = _userContext.User.Id,
      Message = String.Empty
    };
  }

  public async Task CreateMessage() {
    if (!ChatMessage.Message.Equals(string.Empty)) {
      ChatMessage.TimeStamp = DateTime.Now;

      await _chatService.Create(ChatMessage);
      await SendUpdate();
    }
    
    AssignNewChatMessage();
  }

  private async Task UpdateMessage(ChangeEventArgs e) {
    ChatMessage.Message = e.Value.ToString();

    if (!ChatMessage.Message.Equals(string.Empty)) {
      if (TypingTimer != null) {
        TypingTimer.Stop();
        TypingTimer.Dispose();
      }

      IsTyping = true;
      await _chatHubManager.SendTypingUpdateAsync(_userContext.User.InstitutionId.ToString(), $"{_userContext.User.Name} {_userContext.User.LastName} está escribiendo...");

      TypingTimer = new Timer(2000);
      TypingTimer.Elapsed += TypingTimerElapsed;
      TypingTimer.Start();
    }
    else {
      if (TypingTimer != null) {
        TypingTimer.Stop();
        TypingTimer.Dispose();
      }
    }
  }

  private async Task NoTyping() {
    await _chatHubManager.SendTypingUpdateAsync(_userContext.User.InstitutionId.ToString(), "");
  }

  private void TypingTimerElapsed(object sender, ElapsedEventArgs e) {
    IsTyping = false;
    NoTyping();
  }
  
  private async Task SendUpdate() {
    await _chatHubManager.SendChatUpdatedAsync(_userContext.User.InstitutionId.ToString());
  }
}