<div class="modal-title">
  <h6>Agregar usuario a la instituci&oacute;n</h6>
  <p>Busca y selecciona un usuario para enviarle una solicitud de ingreso</p>
</div>
<div class="searcher-users">
  <input value="@SearchValue" type="text" class="input" placeholder="Username, nombre o correo" @oninput="@UpdateSearchValue" @onkeydown="@SearchUsersList">
  <button type="button" class="button primary-background-button" @onclick="@Search">Buscar</button>
</div>
<div class="users-list">
  <div class="users-selection-tags">
    <ul>
      <li>
        <h5>Foto</h5>
      </li>
      <li>
        <h5>Usuario</h5>
      </li>
      <li>
        <h5>Username</h5>
      </li>
      <li>
        <h5>Acciones</h5>
      </li>
    </ul>
  </div>
  <div>
    <div class="users-no-institution-list">
      @if (Loading) {
          @for (int i = 0; i < 6; i++) {
            <ul>
              @for (int j = 0; j < 4; j++) {
                <li>
                  <div class="skeleton-row"></div>
                </li>
              }
            </ul>
          }
      } else {
        @if (UsersNoInstitutionFiltered.Count == 0) {
          <div class="no-users">
            <h4>No hay usuarios para mostrar</h4>
            <p>No hemos encontrado ning&uacute;n usuario</p>
          </div>
        } else {
          @foreach (User user in UsersNoInstitutionFiltered) {
            User selectedUser = user;

            <ul>
              <li>
                <div class="user-image-selection"></div>
              </li>
              <li class="user-info-selection">
                <p>
                  @user.Name @user.LastName
                </p>
                <p>
                  @user.Register.Email
                </p>
              </li>
              <li class="username-user-info">
                <p>
                  @user.UserName.Substring(0, 6)...
                </p>
              </li>
              <li>
                <button type="button" class="gray-button" @onclick="@(() => SettingsContext.SetSelectedUser(selectedUser))">
                  <i class="fi fi-tr-paper-plane-top"></i>
                </button>
              </li>
            </ul>
          }
        }
      }
    </div>
  </div>
</div>
