<FormModule>
  <button type="button" class="button transparent-button centered-container" @onclick="@ExitStudentView">
    <i class="fi fi-tr-arrow-small-left"></i>
  </button>

  <div>
    <button type="button" class="button transparent-button" @onclick="@RemoveChanges">Cancelar</button>
    <button type="button" class="button primary-background-button" @onclick="@SaveChanges">Guardar</button>
  </div>

  <div class="category-navigation box-background">
    <ul>
      <li class="@(NavigationOption == 0 ? "navigation-selection" : "")" @onclick="@(() => SetNavigationOption(Guid.Empty, 0))">
        <p>Datos generales del estudiante</p>
      </li>
      @foreach (var category in Categories) {
        Guid cateogoryId = category.Id;
        int index = Categories.IndexOf(category);

        <li class="@(NavigationOption == (index + 1) ? "navigation-selection" : "")" @onclick="@(() => SetNavigationOption(cateogoryId, (index + 1)))">
          <p>@category.Name</p>
        </li>
      }
    </ul>
  </div>

  <h4>Nombre del estudiante</h4>

  @if (!_studentContext.CurrentCategorySelectionId.Equals(Guid.Empty)) {
    <form id="@_studentContext.CurrentCategorySelectionId">
      @foreach (var field in Categories.FirstOrDefault(c => c.Id == _studentContext.CurrentCategorySelectionId).Fields) {
        int index = Categories.FirstOrDefault(c => c.Id == _studentContext.CurrentCategorySelectionId).Fields.ToList().IndexOf(field);
        FieldInformation fieldInformation = _studentContext.FieldInformations.FirstOrDefault(f => f.FieldId.Equals(field.Id)) ?? new();
        
        <fieldset>
          <div class="label">
            <label for="field-@index">@field.Name</label>
          </div>
          @if (field.FieldType == FieldType.Text || field.FieldType == FieldType.Number) {
            <input @bind="@fieldInformation.Information" type="text" class="input" placeholder="Ingresar @field.Name.ToLower()" id="field-@index">
          } else {
            <select id="field-@index" @bind="@fieldInformation.Information">
              @if (field.Options != null) {
                @foreach (var option in field.Options) {
                  <option value="@option.Name">@option.Name</option>
                }
              }
            </select>
          }
        </fieldset>
      }
    </form>
  } else {
    <StudentGeneralData />
  }
</FormModule>