<SettingsModule>
  <div class="students-settings-container">
    <div class="box-background">
      <h4>Estudiantes</h4>
      <p>Configura la informaci&oacute;n de los estudiantes</p>
    </div>

    <div class="change-identifier box-background">
      <div>
        <h4>Cambiar identificador &uacute;nico para los estudiantes</h4>
        <p>Utilizar identificador por defecto (te recomendamos no utilizar el identificador por defecto)</p>
      </div>
      <div>
        <div class="switch-container">
        <input type="checkbox" class="switch-input" id="identifier-switch" checked="@StudentSettings.DefaultIdentifier" @onclick="@UpdateIdentifier">
        <label class="switch-label" for="identifier-switch">
          <div class="switch-handle"></div>
        </label>
      </div>
      </div>
    </div>

    <div class="student-information-settings box-background">
      <div>
        <h4>Informaci&oacute;n de los estudiantes</h4>
        <p>Crea y personaliza la informaci&oacute;n que se guardar&aacute; sobre los estudiantes</p>
      </div>
      <button type="button" class="button primary-background-button" @onclick="@(() => SetCategoryAction("create"))">Crear categor&iacute;a</button>
    </div>

      @foreach (var category in Categories) {
        <div class="box-background">
          <div class="category-info">
            <div>
              <h4>@category.Name</h4>
              <p>@category.Description</p>
            </div>  <div></div>
            <button type="button" class="button primary-background-button">Actualizar categoria</button>
          </div>
          <div class="categories-list-fields">
            <ul>
              <li>
                <p>Identificador del campo</p>
              </li>
              <li>
                <p>Nombre del campo</p>
              </li>
              <li>
                <p>Requerido</p>
              </li>
              <li>
                <p>Campo privado</p>
              </li>
              <li>
                <p>Tipo del campo</p>
              </li>
              <li>
                <p>Acciones</p>
              </li>
            </ul>
          </div>
          <div class="fields">
            @foreach (var field in category.Fields) {
              string fieldType = string.Empty;
              
              switch(field.FieldType) {
                case FieldType.Text:
                  fieldType = "Texto";
                  break;
                case FieldType.Number:
                  fieldType = "Numérico";
                  break;
                case FieldType.List:
                  fieldType = "Listado";
                  break;
              }
              
              <ul>
                <li>
                  <p>1002</p>
                </li>
                <li>
                  <p>@field.Name</p>
                </li>
                <li>
                  <input type="checkbox" checked="@field.IsRequired">
                </li>
                <li>
                  <input type="checkbox" checked="@field.IsPrivateField">
                </li>
                <li>
                  <p>@fieldType</p>
                </li>
                <li>
                  <button class="gray-button">
                    <i class="fi fi-tr-pen-square"></i>
                  </button>
                </li>
              </ul>
            }
          </div>
        </div>
      }
      <div class="box-background">
        <div class="category-info">
        <div>
          <h4>Datos generales del estudiante</h4>
          <p>Estos datos se agregar&aacute;n para la informaci&oacute;n general del estudiante</p>
        </div>
        <button type="button" class="button primary-background-button">Actualizar categoria</button>
      </div>
      <div class="categories-list-fields">
        <ul>
          <li>
            <p>Identificador del campo</p>  
          </li>
          <li>
            <p>Nombre del campo</p>  
          </li>
          <li>
            <p>Requerido</p>  
          </li>
          <li>
            <p>Campo privado</p>  
          </li>
          <li>
            <p>Tipo del campo</p>  
          </li>
          <li>
            <p>Acciones</p>  
          </li>  
        </ul>  
      </div>
      <div class="fields">
        <ul>
          <li>
            <p>10002</p>  
          </li>
          <li>
            <p>Nombre</p>  
          </li>
          <li>
            <input type="checkbox">  
          </li>
          <li>
            <input type="checkbox">  
          </li>
          <li>
            <p>Texto</p>  
          </li>
          <li>
            <button class="gray-button">
              <i class="fi fi-tr-pen-square"></i>
            </button>
          </li>
        </ul>  
      </div>
    </div>
  </div>
</SettingsModule>
