<form id="student-general-data" class="box-background">
  @if (!_studentSettings.DefaultIdentifier) {
    <fieldset>
      <div class="label">
        <label for="unique-identifier">Identificador &uacute;nico</label>
      </div>
      <input @bind="@_studentContext.Student.UniqueIdentifier" type="text" class="input" placeholder="Ingresar identificador único del estudiante" id="unique-identifier">
    </fieldset>
  }
  <fieldset>
    <div class="label">
      <label for="student-name">Nombre del estudiante</label>
    </div>
    <input @bind="@_studentContext.Student.Name" type="text" class="input @((bool) _studentContext.Warnings[0][1] ? "input-error" : "")" placeholder="Ingresar nombre del estudiante" id="student-name">
  </fieldset>
  <fieldset>
    <div class="label">
      <label for="student-last-name">Apellido del estudiante</label>
    </div>
    <input @bind="@_studentContext.Student.LastName" type="text"
      class="input @((bool) _studentContext.Warnings[1][1] ? "input-error" : "")"
      placeholder="Ingresar apellido del estudiante" id="student-last-name">
  </fieldset>
  <fieldset>
    <div class="label">
      <label for="phone-number">N&uacute;mero de tel&eacute;fono</label>
    </div>
    <input type="text" class="input" placeholder="Ingresar número de telefono del estudiante" id="phone-number" required>
  </fieldset>
  <fieldset>
    <div class="label"> 
      <label for="gender">Genero del estudiante</label>
    </div>
    <select id="gender" @bind="@_studentContext.Student.Gender">
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
    </select>
  </fieldset>
  <fieldset>
    <div class="label">
      <label for="birth-date">
        Fecha de nacimiento
      </label>
    </div>
      <input @bind="@_studentContext.Student.BirthDate" type="date" id="birth-date" class="input">  
  </fieldset>
  <fieldset>
    <div class="label">
      <label for="email">Correo electr&oacute;nico del estudiante</label>
    </div>
    <input @bind="@_studentContext.Student.StudentRegister.Email" type="email" id="email"
      class="input @((bool) _studentContext.Warnings[2][1] ? "input-error" : "")"
      placeholder="Ingresar correo electrónico del estudiante">
  </fieldset>
</form>

@code {
  [Inject]
  private StudentContext _studentContext { get; set; }
  [Inject]
  private StudentSettingsHubManager _studentSettingsHubManager { get; set; }
  [Inject]
  private UserContext _userContext { get; set; }
  private StudentSettings _studentSettings { get; set; } = new();
  [Inject]
  private Validators Validators { get; set; }
  private List<List<object>> Warnings { get; set; } = new() {
    new() { "", false },
    new() { "", false },
    new() { "", false }    
  };

  protected override async Task OnInitializedAsync() {
    _studentSettingsHubManager.StudentSettingsUpdatedHandler(studentSettings => {
      _studentSettings = studentSettings;
      StateHasChanged();
    });

    await _studentSettingsHubManager.SendStudentSettingsUpdatedAsync(_userContext.User.InstitutionId.ToString() ?? string.Empty);
  }

  private void ValidateField() {
    
  }

  protected override void OnInitialized() {
    _studentContext.OnChange += HandleStateChange;
  }

  private void HandleStateChange() {
    StateHasChanged();
  }
}