<SettingsModule>
  <div class="users-container">
    <div class="users-info">
      <div class="box-background">
        <h4>
          Usuarios de la instituci&oacute;n
        </h4>
        <p>Aqu&iacute; puedes ver y administrar la informaci&oacute;n de los usuarios que est&aacute;n asociados a la
          instituci&oacute;n, puedes buscar un usuario para poder enviarle una solicitud de ingreso
        </p>
      </div>
    </div>
    <div class="admin-users-info-container box-background">
      <div class="admin-users-info">
        <div>
          <h6>Administrar usuarios</h6>
          <p>Administra los usuarios de la instituci&oacute;n</p>
        </div>
        <div>
          <button type="button" class="button primary-background-button search-users-button" @onclick="@SearchUsers">
            <i class="fi fi-tr-users-medical"></i>Buscar usuarios</button>
        </div>
      </div>
      <div class="users-searcher-container">
        <div>
          <div class="users-searcher">
            <div class="search-form">
              <input value="@SearchValue" type="text" class="input" placeholder="Buscar usuarios en la institución" @oninput="@UpdateSearchValue" @onkeydown="@SearchUsersList">
              <button type="button" class="button primary-background-button" @onclick="@Search">
                Buscar
              </button>
              <div class="style-list-buttons">
                <button type="button" class="gray-button centered-container" @onclick="@(() => IsBoxStyle = false)">
                  <i class="fi fi-tr-diagram-cells"></i>
                </button>
                <button type="button" class="gray-button centered-container" @onclick="@(() => IsBoxStyle = true)">
                  <i class="fi fi-tr-rectangles-mixed"></i>
                </button>
              </div>
            </div>
            <div class="results-info">
              <div>
                <p>Mostrando resultados</p>
                <div class="results-quantity">
                  <p>@UsersListFiltered.Count</p>
                </div>
              </div>
            </div>
          </div>
          @if (!IsBoxStyle) {
            <div class="user-properties">
              <ul>
                <li>
                  <h5>
                    Estado en l&iacute;nea
                  </h5>
                </li>
                <li>
                  <h5>
                    Datos de usuario
                  </h5>
                </li>
                <li>
                  <h5>
                    Correo electr&oacute;nico
                  </h5>
                </li>
                <li>
                  <h5>
                    Informaci&oacute;n de contacto
                  </h5>
                </li>
                <li>
                  <h5>
                    Acciones
                  </h5>
                </li>
              </ul>
            </div>
          }
        </div>
        <div class="@(IsBoxStyle ? "users-list-box-style" : "users-list") users-list-container">
          @if (Loading) {
            @for (int i = 0; i < 7; i++) {
              <ul class="skeleton-load @(IsBoxStyle ? "skeleton-load-box" : "")">
                  @for (int j = 0; j < 5; j++) {
                    <li>
                      <div class="skeleton-row"></div>
                    </li>
                  }
              </ul>
            }
          } else {
            @if (UsersListFiltered.Count.Equals(0)) {
              <div class="no-results">
                <h4>No hay usuarios para mostrar</h4>
                <p>No hemos encontrado ning&uacute;n usuario en la instituci&oacute;n</p>
              </div>
            }
            @foreach (var user in UsersListFiltered) {
              string imageSrc = string.Empty;

              if (user.Photo != null) {
                var imageBase64 = Convert.ToBase64String(user.Photo);
                imageSrc = $"data:image/png;base64,{imageBase64}";
              }

              <ul>
                <li>
                  <div class="user-status">
                  </div>
                </li>
                <li>
                  @if (IsBoxStyle) { <h5>Datos de usuario</h5> }
                  <div class="user-data-list">
                    <div class="user-data-image">
                      @if (imageSrc != string.Empty) {
                        <img src="@imageSrc" alt="@user.Name">
                      }
                    </div>
                    <div class="user-data-info">
                      <p>
                        @user.Name @user.LastName
                      </p>
                      <p>
                        @user.UserName
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  @if (IsBoxStyle) { <h5>Informaci&oacute;n de contacto</h5> }
                  <p>@user.Register.Email</p>
                </li>
                <li>
                  <p>@user.PhoneNumber</p>
                </li>
                <li>
                  <div class="user-actions">
                    <button type="button" class="gray-button delete-user-button">
                      <i class="fi fi-tr-rectangle-xmark"></i>
                      @if (IsBoxStyle) { <span>Expulsar</span> }
                    </button>
                  </div>
                </li>
              </ul>
            }
          }
        </div>
      </div>
    </div>
  </div>
</SettingsModule>
