<style>
  #input-file {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    color: var(--light-color);
    left: 0;
    cursor: pointer;
  }
</style>

<article class="user-form box-background"> 
  <div class="user-selected-color" style="@(NewUser.PreferredBackgroundColor != null ? $"background: {NewUser.PreferredBackgroundColor};" : "")">
    <div class="edit-color centered-container">
      <i class="fi fi-tr-pen-circle" @onclick="@(() => ShowGradients = !ShowGradients)">
        @if (ShowGradients) {
          <div class="preferred-background-color">
            @foreach (string gradient in GradientColors) {
              <div class="gradient-color" style="background: @gradient;" @onclick="@(() => UpdateGradientColor(gradient))">
              </div>
            }
          </div>
        }
      </i>
    </div>
  </div>
  <div class="user-main-info">
    <div class="user-info-img">
      <div class="user-photo-container">
        <div class="user-profile-photo centered-container">
          <img src="@ImageSrc"
            class="user-photo @(string.IsNullOrEmpty(ImageSrc) ? "user-no-photo-container" : "")" />
            <InputFile id="input-file" OnChange="@OnInputFileChange"></InputFile>
        </div>
      </div>
      <div class="user-name-email">
        <h3>@($"{UserContext.User.Name} {UserContext.User.LastName}")</h3>
        <p>@UserContext.User.Register.Email</p>
      </div>
    </div>
  </div>
  <div class="user-information">
    <div>
      <h6>Informaci&oacute;n de tu cuenta</h6>
      <p>
        Informaci&oacute;n de tu perfil, modifica el campo que desees para
        realizar cambios
      </p>
    </div>
    <div class="buttons">
      <button type="button" class="transparent-button button @(!HasChanges ? "not-enabled-button" : "")"
      @onclick="@RevertChanges" disabled="@(!HasChanges)">
        Cancelar
      </button>
      <button type="button" class="primary-background-button button @(!HasChanges ? "not-enabled-button" : "")"
      @onclick="@UpdateUser" disabled="@(!HasChanges)">
        Guardar
      </button>
    </div>
  </div>
  <form class="user-form-inputs">
    <fieldset>
      <div class="label">
        <label for="name">Nombre <strong>*</strong></label>
      </div>
      <input value="@NewUser.Name" type="text" class="input" placeholder="Ingresa tu nombre" id="name"
      @oninput="@UpdateName">
      <p class="recommendation-message">Te recomendamos utilizar tu nombre real</p>
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="last-name">Apellido <strong>*</strong></label>
      </div>
      <input value="@NewUser.LastName" type="text" class="input" placeholder="Ingresa tu apellido" id="last-name"
      @oninput="@UpdateLastName">
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="nickname">Username <strong>*</strong></label>
      </div>
      <input value="@NewUser.UserName" type="text" class="input" placeholder="Ingresa tu username" id="nickname" @oninput="@UpdateUserName">
      <p class="recommendation-message">Tu username es &uacute;nico</p>
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="name">Fecha de nacimiento</label>
      </div>
      <div class="birth-date-inputs">
        <input type="text" maxlength="2" class="input" placeholder="dd">
        <input type="text" maxlength="2" class="input" placeholder="mm">
        <input type="text" maxlength="4" class="input" placeholder="yyyy">
      </div>
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="phone-number">N&uacute;mero de tel&eacute;fono</label>
      </div>
      <input value="@NewUser.PhoneNumber" id="phone-number" type="text" class="input"
        placeholder="Ingresar número de teléfono" @oninput="@UpdatePhoneNumber">
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="email">Correo electr&oacute;nico <strong>*</strong></label>
      </div>
      <input value="@NewUser.Register.Email" id="email" type="email" class="input"
        placeholder="Ingresar correo eletrónico" @oninput="@UpdateEmail">
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="bio">Biograf&iacute;a</label>
        <p>1024</p>
      </div>
      <textarea value="@NewUser.Bio" name="biography" id="bio" maxlength="1024" placeholder="Ingresa tu biografía"
      @oninput="@UpdateBio"></textarea>
      <p class="recommendation-message">Una descripci&oacute;n breve para tu perfil</p>
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="location">Ubicaci&oacute;n </label>
      </div>
      <input value="@NewUser.Location" id="location" type="text" class="input" placeholder="Ingresar ubicación" @oninput="@UpdateLocation">
      <p class="recommendation-message">Cuentanos de donde eres</p>
    </fieldset>
    <fieldset>
      <div class="label">
        <label for="change-password">Contrase&ntilde;a</label>
      </div>
      <button id="change-password" type="button" class="button primary-background-button">Cambiar
        contrase&ntilde;a</button>
    </fieldset>
  </form>
</article>
